.actions{
    display:inline-block;
    padding:10px;
    /*background-color: rgba(10, 10, 10, 0.8);*/
    border-radius: 10px;                 
    text-align: center;
    opacity: 0.9;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}
.actions .header{
    border-bottom:1px solid grey;
    color:white;
    margin-bottom: 5px;
}
.actions a{
    color:white;        
    padding: 5px;
    font-size: 20px;
    text-decoration:none;
}
.actions .controls a{
    border-right:1px solid grey;
}
.actions a:hover{
    box-shadow: 0px 0px 20px grey;
}
.actions .controls a:last-child{
    border-right:none;
}
.actions .close{
    position: absolute;
    right: 5px;
    top: 0px;
}