.holder{
    padding: 10px;
    border: 2px solid black;
}
.active{
    border: 2px solid red;
}

#wrapper{
    border: 2px solid red;
}
.hotspot{
    border-color: green;
}

iframe.candrag{
    border-color:orange;
}

[draggable=true]{
    border: 2px solid;
    border-color: yellow !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

iframe[draggable=true], iframe.active, iframe.candrag{
    border-width: 10px;
}

/*edit mode buttons*/
#editModeBtn{
    bottom: 10px;
    right: 10px;
}

#saveBtn{
    bottom: 10px;
    right: 70px;
}

#editModeBtn, #saveBtn{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px grey;
    position: fixed;    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#499bea+0,207ce5+100;Blue+3d+%237 */
    background: rgb(73,155,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
}

#editModeBtn:hover, #saveBtn:hover{
    transform: scale(0.95, 0.95);
}

#editModeBtn>i, #saveBtn>i{
    position: relative;
    top: 28%;
    left: 30%;
    color: wheat;
    font-size: 25px;
    pointer-events: none;
}
/*end of edit mode buttons*/

/*form-group*/
/*input.form-control, select.form-control, textarea.form-control{
    border-radius: 2px;
    padding: 2px;
    font-size: 16px;    
    margin: 2px;    
    border: solid transparent;
    box-shadow: 0px 0px 10px rgba(20, 20, 19, 0.42);
}

input.form-control:only-child, select.form-control:only-child, textarea.form-control{
    width: 95%;
}*/