<link rel="stylesheet" href="css/actions.css">
<div class="actions" contenteditable="false">
    <a href="javascript:void(0)" class="close" onclick="actions['close']()" title="deselect">
        <i class="fa fa-close"></i>
    </a>
    <div class="header">
        <a href="javascript:void(0)" onclick="modes['configureElement'](event)" title="configure">
            <i class="fa fa-gears"></i>&nbsp;{{tag}}
        </a>                
    </div>   
    <div class="controls">
        <a href="javascript:void(0)" onclick="actions['move']()" title="move">
            <i class="fa fa-arrows-alt"></i>
        </a>
        <a href="javascript:void(0)" onclick="actions['edit']()" title="edit">
            <i class="fa fa-edit"></i>
        </a>
        <a href="javascript:void(0)" onclick="modes['addElement'](event)" title="add new">
            <i class="fa fa-plus"></i>
        </a>
        <a href="javascript:void(0)" onclick="actions['copy']()" title="clone">
            <i class="fa fa-clone"></i>
        </a>
        <a href="javascript:void(0)" onclick="actions['delete']()" title="delete">
            <i class="fa fa-trash"></i>
        </a>        
    </div>
</div>