<link rel="stylesheet" href="css/actions.css">
<div class="actions" contenteditable="false">
    <a href="javascript:void(0)" class="close" onclick="actions['close']()" title="deselect">
        <i class="fa fa-close"></i>
    </a>
    <div class="header">
        Pick a drop point        
    </div>   
    <div class="controls">
        <a href="javascript:void(0)" onclick="actions['setDropPosition']('{{type}}', 'prepend', '{{key}}')" title="prepend">
            <small class="">prepend</small>            
        </a>
        <a href="javascript:void(0)" onclick="actions['setDropPosition']('{{type}}', 'append', '{{key}}')" title="append">
            <small class="">append</small>            
        </a>
        <a href="javascript:void(0)" onclick="actions['setDropPosition']('{{type}}', 'cursor', '{{key}}')" title="cursor position">
            <small class="">@cursor</small>            
        </a>
        <a href="javascript:void(0)" onclick="actions['setDropPosition']('{{type}}', 'before', '{{key}}')" title="before">
            <small class="">before</small>            
        </a>
        <a href="javascript:void(0)" onclick="actions['setDropPosition']('{{type}}', 'after', '{{key}}')" title="after">
            <small class="">after</small>            
        </a>        
    </div>
</div>