<form action="javascript:void(0)" onsubmit="actions['onConfigureElement'](event, '{{tagName}}')">
    <div class="accordion">
        <h3>Text Content</h3>
        <div>
            <table style="width:100%">
                {{#hasAttr 'href'}}
                <tr>
                    <td><label for="href">URL</label></td>
                    <td>
                        <input type="url" name="href" value="{{href}}" class="text ui-widget-content ui-corner-all"><br>
                    </td>
                </tr>
                {{/hasAttr}}
                {{#hasAttr 'src'}}
                <tr>
                    <td><label for="src">SOURCE</label></td>
                    <td>
                        <input type="url" name="src" value="{{src}}" class="text ui-widget-content ui-corner-all"><br>
                    </td>
                </tr>
                {{/hasAttr}}
                {{#hasAttr 'textContent'}}
                <tr>
                    <td><label for="text">Text Content</label></td>
                    <td>
                        <textarea class="text ui-widget-content ui-corner-all" style="width:95%" name="textContent" id="text" rows="3" placeholder="Enter Text Here">{{trim textContent}}</textarea>
                    </td>
                </tr>
                {{/hasAttr}}
            </table>            
        </div>    
        <h3>Appearance</h3>    
        <div>
            <table style="width:100%">
                <tr>
                    <td><label for="color">Color</label></td>
                    <td><input type="text" class="text ui-widget-content ui-corner-all" id="color" value="{{style.color}}" name="color"></td>
                    <td><label for="background-color">Background Color</label></td>
                    <td><input type="text" class="text ui-widget-content ui-corner-all" id="background-color" value="{{style.backgroundColor}}" name="backgroundColor"></td>
                </tr>            
            </table>    
        </div>    
        <h3>Dimensions</h3>    
        <div>
            <table style="width:100%">
                <tr>
                    <td><label for="display">Display</label></td>
                    <td>
                        <select class="text ui-widget-content ui-corner-all" name="display" id="display">
                            <option value="">-----</option>
                            <option value="inline" {{#equals 'display==inline'}}selected{{/equals}}>inline</option>
                            <option value="block" {{#equals 'display==block'}}selected{{/equals}}>block</option>
                            <option value="inline-block" {{#equals 'display==inline-block'}}selected{{/equals}}>inline-block</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="width">Width</label></td>
                    <td><input type="text" value="{{width}}" class="text ui-widget-content ui-corner-all" id="width" name="width"></td>
                </tr>
                <tr>            
                    <td><label for="height">Height</label></td>
                    <td><input type="text" value="{{height}}" class="text ui-widget-content ui-corner-all" id="height" name="height"></td>            
                </tr>        
                <tr>
                    <td><label for="padding">Padding</label></td>
                    <td>
                        <input type="text" value="{{style.paddingTop}}" class="text ui-widget-content ui-corner-all" style="width:20%" id="padding-top" name="paddingTop" placeholder="top">
                        <input type="text" value="{{style.paddingRight}}" class="text ui-widget-content ui-corner-all" style="width:20%" id="padding-right" name="paddingRight" placeholder="right">
                        <input type="text" value="{{style.paddingBottom}}" class="text ui-widget-content ui-corner-all" style="width:20%" id="padding-bottom" name="paddingBottom" placeholder="bottom">
                        <input type="text" value="{{style.paddingLeft}}" class="text ui-widget-content ui-corner-all" style="width:20%" id="padding-left" name="paddingLeft" placeholder="left">
                    </td>
                </tr>
                <tr>
                    <td><label for="margin-top">Margin</label></td>
                    <td>
                        <input type="text" value="{{style.marginTop}}" class="text ui-widget-content ui-corner-all" style="width:20%" id="margin-top" name="marginTop" placeholder="top">
                        <input type="text" value="{{style.marginRight}}" class="text ui-widget-content ui-corner-all" style="width:20%" id="margin-right" name="marginRight" placeholder="right">
                        <input type="text" value="{{style.marginBottom}}" class="text ui-widget-content ui-corner-all" style="width:20%" id="margin-bottom" name="marginBottom" placeholder="bottom">
                        <input type="text" value="{{style.marginLeft}}" class="text ui-widget-content ui-corner-all" style="width:20%" id="margin-left" name="marginLeft" placeholder="left">
                    </td>
                </tr>        
            </table>
        </div>    
    </div>
    <br>
    <button type="submit" style="width:100%" class="ui-button ui-corner-all ui-widget">DONE</button>
</form>