<link rel="stylesheet" href="css/elementSelector.css">
<div class="elements">    
    <div class="content">        
        <h3>Inline elements</h3>        
        <div>
            {{#each inline}}
                <a href="javascript:void(0)" onclick="actions['addElement']('inline', {{@index}})">{{tagName}}</a>
            {{/each}}
        </div>
        <h3>Block elements</h3>
        <div>
            {{#each block}}
                <a href="javascript:void(0)" onclick="actions['addElement']('block', {{@index}})">{{tagName}}</a>
            {{/each}}
        </div>
    </div>
</div>